#FREE_LOADING {
    text-align: center;
    font-size: 20px;
}

#FREE_LOGO {
    background-image: url(resources/Freebox.png);
    height: 62px;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
}

#FREE_WHO,
#FREE_CALL,
#FREE_PING,
#FREE_IP,
#FREE_DEBIT,
#FREE_BAND,
#FREE_CLIENT {
    display: flex;
    font-size: 14px;
    line-height: 110%;
    padding: 1px;
}

#FREE_VALUE {
    margin-left: 15px;
    text-align: left;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}

#FREE_RATE {
    margin-left: 15px;
    text-align: left;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    /* margin-right: 15px; */
    width: 60px;
}

#FREE_TEXT {
    margin-left: 15px;
}

#FREE_NAME {
    text-align: center;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}

#FREE_MISSED {
    margin-left: 15px;
    font-size: 16px;
    font-weight: bold;
    color: #eee;
}

#FREE_CALLER {
    margin-left: 10px;
    font-weight: bold;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}

#FREE_ACCESS.hidden,
#FREE_IP.hidden,
#FREE_DEBIT.hidden,
#FREE_PING.hidden,
#FREE_CLIENT.hidden,
#FREE_RATE.hidden,
#FREE_BAND.hidden,
#FREE_ICON.hidden,
#FREE_CALL.hidden,
#FREE_WHO.hidden {
    display:none;
}

#FREE_ICON {
    background-image: url(resources/free.png);
    height: 16px;
    width: 16px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0;
}

#FREE_ICON.freebox_delta0 {
    background-image: url(resources/delta0.png);
}

#FREE_ICON.freebox_mini0 {
    background-image: url(resources/mini0.png);
}

#FREE_ICON.workstation0 {
    background-image: url(resources/desktop0.png);
}

#FREE_ICON.laptop0 {
    background-image: url(resources/laptop0.png);
}

#FREE_ICON.smartphone0 {
    background-image: url(resources/mobile0.png);
}

#FREE_ICON.tablet0 {
    background-image: url(resources/tab0.png);
}

#FREE_ICON.printer0 {
    background-image: url(resources/printer0.png);
}

#FREE_ICON.vg_console0 {
    background-image: url(resources/game0.png);
}

#FREE_ICON.television0 {
    background-image: url(resources/tv0.png);
}

#FREE_ICON.nas0 {
    background-image: url(resources/nas0.png);
}

#FREE_ICON.ip_camera0 {
    background-image: url(resources/camera0.png);
}

#FREE_ICON.ip_phone0 {
    background-image: url(resources/tel0.png);
}

#FREE_ICON.freebox_player0 {
    background-image: url(resources/player0.png);
}

#FREE_ICON.freebox_hd0 {
    background-image: url(resources/V50.png);
}

#FREE_ICON.networking_device0 {
    background-image: url(resources/router0.png);
}

#FREE_ICON.multimedia_device0 {
    background-image: url(resources/media0.png);
}

#FREE_ICON.other0 {
    background-image: url(resources/hub0.png);
}

#FREE_ICON.freebox_delta1 {
    background-image: url(resources/delta1.png);
}

#FREE_ICON.freebox_mini1 {
    background-image: url(resources/mini1.png);
}

#FREE_ICON.workstation1 {
    background-image: url(resources/desktop1.png);
}

#FREE_ICON.laptop1 {
    background-image: url(resources/laptop1.png);
}

#FREE_ICON.smartphone1 {
    background-image: url(resources/mobile1.png);
}

#FREE_ICON.tablet1 {
    background-image: url(resources/tab1.png);
}

#FREE_ICON.printer1 {
    background-image: url(resources/printer1.png);
}

#FREE_ICON.vg_console1 {
    background-image: url(resources/game1.png);
}

#FREE_ICON.television1 {
    background-image: url(resources/tv1.png);
}

#FREE_ICON.nas1 {
    background-image: url(resources/nas1.png);
}

#FREE_ICON.ip_camera1 {
    background-image: url(resources/camera1.png);
}

#FREE_ICON.ip_phone1 {
    background-image: url(resources/tel1.png);
}

#FREE_ICON.freebox_player1 {
    background-image: url(resources/player1.png);
}

#FREE_ICON.freebox_hd1 {
    background-image: url(resources/V51.png);
}

#FREE_ICON.networking_device1 {
    background-image: url(resources/router1.png);
}

#FREE_ICON.multimedia_device1 {
    background-image: url(resources/media1.png);
}

#FREE_ICON.other1 {
    background-image: url(resources/hub1.png);
}

#FREE_ICON.missed {
    background-image: url(resources/missed.png);
}

#FREE_ICON.missing {
    background-image: url(resources/missing.png);
}

#FREE_ICON.bandwidth {
    background-image: url(resources/band.png);
}

#FREE_ICON.ping {
    background-image: url(resources/ping.png);
}

#FREE_ACCESS {
    background-image: url(resources/black.png);
    height: 16px;
    width: 16px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0;
}

#FREE_ACCESS.black {
    background-image: url(resources/black.png);
}

#FREE_ACCESS.wifi5_0,
#FREE_ACCESS.wifi2_0 {
    background-image: url(resources/signal0.png);
}

#FREE_ACCESS.wifi2_1 {
    background-image: url(resources/signal2_1.png);
}

#FREE_ACCESS.wifi2_2 {
    background-image: url(resources/signal2_2.png);
}

#FREE_ACCESS.wifi2_3 {
    background-image: url(resources/signal2_3.png);
}

#FREE_ACCESS.wifi2_4 {
    background-image: url(resources/signal2_4.png);
}

#FREE_ACCESS.wifi2_5 {
    background-image: url(resources/signal2_5.png);
}

#FREE_ACCESS.wifi5_1 {
    background-image: url(resources/signal5_1.png);
}

#FREE_ACCESS.wifi5_2 {
    background-image: url(resources/signal5_2.png);
}

#FREE_ACCESS.wifi5_3 {
    background-image: url(resources/signal5_3.png);
}

#FREE_ACCESS.wifi5_4 {
    background-image: url(resources/signal5_4.png);
}

#FREE_ACCESS.wifi5_5 {
    background-image: url(resources/signal5_5.png);
}

#FREE_ACCESS.ethernet1 {
    background-image: url(resources/eth1.png);
    background-position: inherit;
}

#FREE_ACCESS.ethernet2 {
    background-image: url(resources/eth2.png);
    background-position: inherit;
}

#FREE_ACCESS.ethernet3 {
    background-image: url(resources/eth3.png);
    background-position: inherit;
}

#FREE_ACCESS.ethernet4 {
    background-image: url(resources/eth4.png);
    background-position: inherit;
}

#FREE_ACCESS.ethernet5 {
    background-image: url(resources/cpl.png);
    background-position: inherit;
}

#FREE_ACCESS.ethernet6 {
    background-image: url(resources/sfp.png);
    background-position: inherit;
}

/* ------------ */

input.switch-round + label {
  padding: 1px;
  width: 40px;
  height: 15px;
  background-color: #808080;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
  margin-left: 15px;
}
input.switch-round + label:before, input.switch-round + label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: "";
}
input.switch-round + label:before {
  right: 1px;
  background-color: #706c6c;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
  -webkit-transition: background 0.4s;
  -moz-transition: background 0.4s;
  -o-transition: background 0.4s;
  transition: background 0.4s;
}
input.switch-round + label:after {
  width: 20px;
  background-color: #DCDCDC;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  -webkit-transition: margin 0.4s;
  -moz-transition: margin 0.4s;
  -o-transition: margin 0.4s;
  transition: margin 0.4s;
}
input.switch-round:checked + label:before {
  background-color: #009966;
}
input.switch-round:checked + label:after {
  margin-left: 20px;
}

.switch-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.switch-toggle + label {
  display: block;
  position: relative;
  cursor: none;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.hidden {
    display:none;
}

#FREE_VPN {
  font-size: 15px;
  line-height: 20px;
}

#FREE_VPNUSER {
  display: inline-flex;
}

#FREE_VPNLOGIN {
  margin-right: 15px;
  line-height: 40px;
}

#FREEVPNDATE,
#FREE_VPNRXTX,
#FREE_VPNTYPE {
  margin-right: 15px;
}

#FREE_TV {
  font-size: 15px;
  text-align: left;
  padding: 10px;
}

#FREE_CHANNEL {
  font-size: 15px;
  height: 80px;
  margin-left: 25px;
}

#FREE_PHOTO {
  height: 80px;
  margin-left: 10px;
  margin-right: 10px;
}

#FREE_EPG {
  font-size: 15px;
}

#FREE_PROGRAM {
  font-size: 15px;
  text-align: center;
  width: 395px;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}

#FREE_PROGRESS {
 /* height: 3px*/
  width: 80%;
}

#FREE_VOLUME {
  height: 80px;
}

#FREE_CONTENER {
 height: 80px;
}

#FREE_PROGRESS.meter {
  -webkit-writing-mode: horizontal-tb !important;
  -webkit-appearance: meter;
  box-sizing: border-box;
  display: inline-block;
  height: 10px;
  /* width: 5em; */
  vertical-align: -0.2em;
  -webkit-user-modify: read-only !important;
  margin-left: 10px;
  margin-right: 10px;

}

meter::-webkit-meter-inner-element {
  border-radius: 10px;
}

#FREE_PROGRESS.meter::-webkit-meter-optimum-value {
    background: red; /* Green */
      border-radius: 10px;
}

#FREE_PROGRESS.meter::-webkit-meter-bar  {
  /*background: #eee;*/
  /*box-shadow: 0 2px 3px rgba (0, 0, 0, 0.2) inset;*/
  border-radius: 10px;
}

#FREE_PROGRESS_CONTENER {
  display: flex;
}

#FREE_PROGRESS_START {
  height: 10px;
  line-height: 10px;
}

#FREE_PROGRESS_END {
  line-height: 10px;
}

#FREE_PROGRAM.hidden,
#FREE_PROGRESS.hidden,
#FREE_PROGRESS_START.hidden,
#FREE_PROGRESS_END.hidden {
  display:none;
}

#FREE_CLIENTIP {
  margin-right: 10px;
  width: 80px;
}
